$handwriting: 'Indie Flower', cursive;
$gradient: linear-gradient(45deg, rgb(59, 59, 185), lightblue 100%);
$anc_link : red;

body{
    font-family: $handwriting;
    background: $gradient;
}

table{
    margin: 20px auto;

    thead, tbody, tr, th, td{
        border: 1px solid #222222;
        border-collapse: collapse;
        padding: 10px;
        align-items: center;
    }
}
i{
    display: block;
}
ul li{
    list-style-type: none;
    &:before{
        font-size: 20px;
        content: '\2713';
        padding-right: 10px;
    }
}

a{
    text-decoration: none;
    color: firebrick;
}

span.heart{
    &:before{
    content: '\2764';
    color: red;
    font-size: 25px;
    }
}
